<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h2><%=@student.name.capitalize%>'s Schedule</h2>





<h2><%=@student.name.capitalize%>'s Booked Appointments</h2>

<%= "You have no booked appointments" if @appointments.count == 0 %>

<% @appointments.each do |x| %>
<%= x.day.capitalize + " " + x.time + " - " + Tutor.find(x.tutor_id).name.capitalize %><br>

<%end%>
<br><br>



<br><br><br><br>
<a href="/students/<%=@student.id%>/book">Book Appointments</a>   <a href="/students/<%=@student.id%>/cancel">Cancel Appointments</a>  
<a href="/logout">Logout</a>

</body>
</html>

