<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Update Your Availability</h1>

 <% unless locals.empty? %>
  <%= message %>
  <% end %><br>


  <h3>Warning: Updating availability will not cancel previously booked appointments.</h3>


<form action="/tutors/<%=@tutor.id%>/edit_schedule" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
<% @days.each do |day|%>
<label><%= day.capitalize%>:<br>
<% @times.each do |time|%>
<input type="checkbox" name="edit[<%= day %>][<%= time %>]" value="true" <%='checked' if @tutor.availabilities.find_by(day: day, time: time)%> ><%=time%></input><br>
<%end%></label>
<%end%>

<input type="submit" value="Update Schedule">
</form>




<a href="/logout">Logout</a>

</body>
</html>

