<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Set Your Availability</h1>


  <% unless locals.empty? %>
  <%= message %>
  <% end %><br>

<form action="/tutors/<%=@tutor.id%>/schedule" method="POST">

<% @days.each do |day|%>
<label><%= day.capitalize%>:<br>
<% @times.each do |time|%>
<input type="checkbox" name="schedule[<%= day %>][<%= time %>]" value="true"><%=time%></input><br>
<%end%></label>
<%end%>


<input type="submit" value="Create Schedule">
</form>


<a href="/logout">Logout</a>

</body>
</html>

